@model List<BlogYazisi>

@{
    ViewData["Title"] = "Yazılar";
}

<div class="container">
    <div class="row">
        @foreach (var blogYazisi in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="@blogYazisi.ResimUrl" class="card-img-top" alt="@blogYazisi.Baslik" />
                    <div class="card-body">
                        <h5 class="card-title">@blogYazisi.Baslik</h5>
                        <p class="card-text">@blogYazisi.Ozet</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>